.menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:purple;
  font-style:bold;
  float:left;
  text-align: left;
  background-color: rgba(155, 182, 207, 0.9);
  min-height: 98%;
  padding: 3%;
  border:3px black solid;
 
}
a {
  font-size: 15px;
}

.wrapperDiv {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.mainContent {
  float:right;
  width:82%;
  text-align: center;
  min-height:98%;
}
.pageHeading {
  float:right;
  background-color: rgb(129, 147, 153);
  width: 100%;
  height: 60px;
  padding: 25px;
  text-align: center;
}

body {
  background-color: rgb(241, 252, 255);
}

h1,h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(48, 48, 48);

}

.artists {
  float: right;
}

.homePageImages {
  box-sizing: border-box;
  border:15px rgb(110, 110, 110) solid;
  padding:15px;
  text-align: middle;
  margin-right: 5%;
  background-color: rgb(245, 245, 245);
}